.NavigateContainer{
    margin-top: 150px;
}

.NavigateCards{
    width: 85%;
    height: 974px;
    margin: 80px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(2,620px);
    gap:16px;
    justify-content: space-between;
}

.NavigateCard{
    width: 100%;
    height: 467px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 110px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 4px 4px 0 2px rgba(30, 30, 30, 1);
}

.NavigateCard .NavigateBody{
    width: 81%;
    height: 224px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NavigateCard .NavigateHead{
    width: 100%;
    height: 88px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.NavigateCard .NavigateHead .NavigateTitle{
    font-weight: 700;
    font-size: 34px;
    text-align: center;
}

.divider {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
}

.circle {
  width: 20px;
  height: 20px;
  border: 2px solid #262626;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
}

.divider .circle:first-child{
    left: 0px;
}

.divider .circle:last-child{
    right: 0;
}

.divider .dashedLine{
    width: 16%;
    height: 10px;
    background-color: #f4b183;
}

.divider .dashedLine div{
    border-top: 2px solid #000;
    margin-top: 3px;
}

.NavigateCard .NavigateDescription{
    width: 100%;
    height: 96px;
    text-align: center;
    color: #4C4C4D;
}

.NavigateCard .NavigateBtn{
    width: 80.6452%;
    height: 63px;
    border-radius: 8px;
    padding: 0 18px;
    background-color: #FFDECC;
    border: solid 2px #262626;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    font-size: 18px;
    box-shadow: 2px 2px 0 2px rgba(30, 30, 30, 1);
}

.NavigateBtn img{
    width: 3.2%;
    height: 16px;
}

/* Responsive */

@media (max-width: 992px){
    .NavigateCards{
        grid-template-columns: 100%;
        gap: 40px;
        justify-content: center;
        height: auto;
    }

    .NavigateCard{
        width: 100%;
        height: auto;
    }

    .NavigateCard .NavigateBody{
        width: 90%;
    }

    .NavigateCard .NavigateBtn{
        width: 90%;
    }
}

@media (max-width: 576px){
    .NavigateCards{
        width: 90%;
        margin: 60px auto 0 auto;
    }

    .NavigateCard{
        gap: 60px;
        padding: 20px 0;
        margin-top: 40px;
    }

    .NavigateCard .NavigateHead{
        padding: 20px;
    }

    .NavigateCard .NavigateHead .NavigateTitle{
        font-size: 24px;
    }

    .NavigateCard .NavigateDescription{
        font-size: 14px;
    }

    .NavigateCard .NavigateBtn{
        height: 50px;
        font-size: 14px;
    }
}