.AboutHeroContaier{
    max-width:95%;
    min-height: 485px;
    background-color: #FFFFFF;
    margin: 60px auto 0px auto;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 8px 8px 0 1px rgba(30, 30, 30, 1);
}
.AboutHeroContaier img{
    position: absolute;
    top: 0;
    left: 0;

}
.HeroContent{
    width: 85%;
    height: 185px;
    display: flex;
    justify-content: space-between;
    
}
.AboutHeroContaier .Title{
    width: 35%;
    height: 185px;
  
}
.Title button{
    width: 117px;
    height: 42px;
    border: 2px solid #262626;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: #FFFFFF;
    color: #262626;

}
.Title p{
    width: 755px;
    height: 124px;
    font-size: 48px;
    font-weight: 700;
    color: #1A1A1A;
    padding:  20px 0;
}
.AboutHeroContaier .desription{
    width: 50%;
    height: 150px;
    text-align: left;
    font-size: 20px;
   line-height: 28px;
  
}

 /* laptop */
@media (min-width:1280px ) and (max-width:1550px){
    .AboutHeroContaier{
        width: 87%;
        min-height: 348px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .HeroContent{
        width: 95%;
        margin: 35px 10px 0 20px;
        align-items: center;
    }
    .AboutHeroContaier .Title{
     width: 535px;
     height: 148px;
    padding-left:80px ;
    }
    .Title button{
        width: 100px;
        height: 40px;
    }
    .Title p{
        width: 480px;
        height: 98px;
        font-size: 38px;
    }
    .AboutHeroContaier .desription{
        min-width: 30%;
        max-height: 144px;
        font-size: 16px;
       
    }
}

 /* Tablet */
 @media (max-width:992px){
    .AboutHeroContaier{
        min-height: 502px;
        width: 90%;
        
    }
    .HeroContent{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        
     
    }
    .AboutHeroContaier img{
        width: 100px;
        height: 100px;
    }
    .HeroContent .Title{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .HeroContent button{
        width: 96px;
        height: 35px;
        text-align: center;
    }
    .HeroContent .Title p{
        width: 298px;
        height: 72px;
        font-weight: 600;
        font-size: 35px;
        
    }
    .HeroContent .desription{
        width: 298px;
        height: 264px;
        font-size: 16px;
        line-height: 25px;
    }
}
 
  