.AwardsContainer {
  width: 80%;
  margin: 200px auto 0 auto;
  position: relative;
}

.AwardSliderContainer {
  width: 100%;
  margin-top: 100px;
  position: relative;
}

.SliderWindow {
  width: 100%;
  overflow: hidden;
}

.SliderTrack {
  display: flex;
  gap: 30px;
  padding-top: 40px;
  transition: transform 0.4s ease;
 
}

.SliderCard {
  width: 505px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 6px 6px 0 2px rgba(30, 30, 30, 1);
  position: relative;
  padding: 40px 30px 30px;
  box-sizing: border-box;
}

.SliderTitle {
  width: 375px;
  height: 72px;
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: 700;
}

.SliderDesription {
  width: 375px;
  height: 180px;
  line-height: 35px;
  font-size: 20px;
  color: #4c4c4d;
}

.SliderCard img {
  width: 72px;
  height: 72px;
  position: absolute;
  top: -30px;
  left: 20px;
}

.btn {
  display: flex;
  width: 95%;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 30px;
}

.btn img {
  cursor: pointer;
}

@media (min-width:1280px ) and (max-width:1550px){
  .AwardsContainer{
    
    margin: 150px auto 0 auto;
  }
  .SliderWindow {
  width: 95%;
  overflow: hidden;
}
    .SliderCard{
        width: 406px;
        height: 322px;
        
    }
    .SliderTitle{
        width: 300px;
        height: 62px;
        font-size: 24px;
    }
    .SliderDesription{
        width: 300px;
        height: 144px;
        font-size: 16px;
        line-height: 30px;
    }
    .SliderCard img{
        width: 52px;
        height: 52px;
    }
}

@media (max-width:992px){
    .SliderWindow{
      width: 98%;
    }
    .SliderCard{
        width: 358px;
        height: 274px;
    }
    .SliderCard img{
        width: 50px;
        height: 50px;
    }
    .SliderCard .SliderTitle{
      width: 100%;
      height: 58px;
  
    }
    .SliderCard .SliderDesription{
      font-size: 16px;
      
    }
    .SliderDesription p{
      width: 86%;
    }
  
}

@media (max-width:768px){
    .AwardSliderContainer{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .SliderWindow{
      width: 100%;
      
    }
     .SliderCard{
      width: 280px;
      height: 274px;
    }
    .SliderCard .SliderTitle {
      height: 58px;
      font-size: 22px;
    }
    .SliderCard .SliderDesription{
      width: 300px;
      height: 110px;
      font-size: 16px;
      line-height: 25px;
    }
    .btn{
     width: 95%;
     justify-content: end;
    }
}
@media (max-width:500px){
  .SliderWindow{
      width: 120%;
      
    }
    .btn{
      width: 100%;
    }
    .SliderCard{
      width: 358px;
      height: 274px;
    }
    .SliderCard .SliderTitle {
      height: 58px;
      font-size: 22px;
    }
    .SliderCard .SliderDesription{
      height: 120px;
      font-size: 16px;
      line-height: 25px;
    }
}