.coursesSection{
    width: 85%;
    height: 1540px;
    margin: 200px auto 0 auto;
   
}

.coursesCards{
    width: 100%;
    height: 1190px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    
}

.coursesCard{
    width: 500px;
    height: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: #FFFFFF;
    box-shadow: 6px 6px 0 2px rgba(30, 30, 30, 1);
    border: 2px solid #262626;
    border-radius: 12px;
}
.image{
    position: relative;
    z-index: 1;
}
.image img{
    width: 400px;
}
.image::before,.image::after{
    content: "";
    width: 103px;
    height: 40px;
    border: 2px solid #262626;
    border-bottom-right-radius:10px ;
    border-bottom-left-radius:10px ;
    position: absolute;
    left: 35%;
    top: 90%;
    z-index: -1;
    background-color: #FFEFE5;
}
.image::after{
    left: 35%;
    top: -40px;
    border-radius: 0;
    border-width:0 ;
    border-left: 2px solid #262626;
    border-right: 2px solid #262626;

}
.TextContent{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.TextContent h2{
    font-size: 28px;
    font-weight: 700;
    color: #1A1A1A;
}
.TextContent p{
    width: 80%;
    font-size: 20px;
    line-height: 20px;
    color: #4C4C4D;
    text-align: center;
}
@media (min-width:1280px){
        .coursesSection{
            height: 1188px;
           
        }
        .coursesCards{
            height: 906px;
            gap: 20px;
        }
        .coursesCard{
            width:400px;
            height: 433px;
            gap: 40px;
        }
        .image img{
            width: 320px;
            height: 220px;
        }
        .TextContent{
            gap: 14px;
        }
        .TextContent h2{
            font-size: 24px;
        }
        .TextContent p{
            width: 320px;
            height: 48px;
            font-size: 16px;
        }
        
}

@media (max-width:1170px){
    .coursesSection{
        width: 80%;
    }
    .coursesCards{
        grid-template-columns: repeat(2,1fr);
        
    }
    .coursesCard{
        width: 358px;
        height: 368px;
    }
    .coursesCard .image img{
        width: 289px;
        height: 191px;
        margin-top: 30px;
    }
    .image::after{
        height: 40px;
        top: 10px;
    }
    .TextContent{
        gap: 10px;
    }
    .TextContent h2{
        font-size: 22px;
    }
    .TextContent p{
        width: 289px;
        height: 48px;
        font-size: 16px;
    }
}

@media (max-width:900px){
    .coursesSection{
        width: 100%;
        height: 2850px;
        margin: 150px auto 0 auto;
    }
    .coursesCards{
        grid-template-columns: 1fr;
    }
    .image::after{
        height: 90px;
        top: -5px;
    }
}