.BenefitsContainer {
  width: 85%;
  margin: 150px auto 0 auto;
  text-align: center;
}

.IntroSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.IntroBtn {
  min-height: 40px;
  padding: 8px 18px;
  font-weight: 500;
  background-color: #ffffff;
  color: #333333;
  border-radius: 6px;
  border: 1px solid #262626;
}

.IntroTitle {
  max-width: 880px;
  font-size: 48px;
  font-weight: 700;
  color: #1a1a1a;
  margin-top: 14px;
  text-align: center;
  line-height: 1.25;
}

.IntroDesc {
  max-width: 790px;
  font-weight: 500;
  color: #333333;
  margin-top: 14px;
  text-align: center;
  line-height: 1.7;
}

.BenefitsCardContainer {
  width: 100%;
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 52px 24px;
  align-items: start;
}

.card {
  width: 100%;
  position: relative;
}

.BoxCard {
  width: 100%;
  min-height: 234px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 4px 4px 0 2px rgba(30, 30, 30, 1);
  padding: 60px 28px 28px 28px;
  box-sizing: border-box;
}

.CardTitle {
  width: 100%;
  color: #1a1a1a;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.35;
  text-align: left;
}

.CardDescription {
  width: 75%;
  color: #4c4c4d;
  font-weight: 500;
  margin-top: 16px;
  text-align: left;
  line-height: 20px;
}

.CardIcon {
  position: absolute;
  top: -35px;
  left: 20px;

}

.CardIcon img {
  width: 72px;
  height: 56px;

}


@media screen and (max-width: 1200px) {
  .BenefitsContainer {
    width: 90%;
  }

  .IntroTitle {
    font-size: 40px;
  }

  .BenefitsCardContainer {
    gap: 48px 20px;
  }

  .CardTitle {
    font-size: 22px;
  }
}


@media screen and (max-width: 992px) {
  .BenefitsContainer {
    width: 90%;
    margin-top: 120px;
  }

  .IntroTitle {
    max-width: 100%;
    font-size: 36px;
  }

  .IntroDesc {
    max-width: 100%;
  }

  .BenefitsCardContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 48px 20px;
  }
}


@media screen and (max-width: 768px) {
  .BenefitsContainer {
    width: 92%;
    margin-top: 90px;
  }

  .IntroSection {
    align-items: center;
  }

  .IntroBtn {
    font-size: 14px;
    padding: 8px 14px;
  }

  .IntroTitle {
    font-size: 24px;
    max-width: 100%;
    margin-top: 16px;
  }

  .IntroDesc {
    max-width: 320px;
    font-size: 14px;
    line-height: 1.8;
    margin-top: 14px;
  }

  .BenefitsCardContainer {
    grid-template-columns: 1fr;
    gap: 34px;
    margin-top: 50px;
    justify-items: center;
  }

  .card {
    width: 100%;
    max-width: 358px;
  }

  .BoxCard {
    min-height: 195px;
    padding: 52px 18px 20px 18px;
    border-radius: 12px;
    margin-top: 20px;
  }

  .CardTitle {
    font-size: 18px;
    text-align: left;
  }

  .CardDescription {
    font-size: 14px;
    margin-top: 12px;
    text-align: left;
  }

  .CardIcon {
    top: -15px;
    left: 18px;
  }

  .CardIcon img {
    width: 65px;
   height: 50px;
  }
}


@media screen and (max-width: 480px) {
  .BenefitsContainer {
    width: 94%;
    margin-top: 70px;
  }

  .IntroDesc {
    max-width: 300px;
  }

  .card {
    max-width: 100%;
  }

  .BoxCard {
    min-height: 185px;
    padding: 50px 16px 18px 16px;
  }

  .CardTitle {
    font-size: 17px;
  }

  .CardDescription {
    font-size: 13px;
  }

  .CardIcon {
    left: 16px;
  }

  .CardIcon img {
     width: 65px;
   height: 50px;
  }
}